:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * 0.9);

  --board-width: 300px;
  --board-height: 300px;

  --faded-color: lightgray;
  --board-background: white;

  --cross-color: black;
  --outer-circle-color: black;
  --inner-circle-color: var(--board-background);
}

board {
  width: var(--board-width);
  height: var(--board-height);

  background-color: var(--board-background);

  transition: all 0.3s ease-in-out;

  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(3, auto);

  justify-content: center;
  align-content: center;
}

cell {
  display: flex;
  justify-content: center;
  align-items: center;

  width: var(--cell-size);
  height: var(--cell-size);

  cursor: pointer;
  border: 1px solid black;
}

/* remove the top boundary */
cell:first-child,
cell:nth-child(2),
cell:nth-child(3) {
  border-top: none;
}

/* remove the left boundary */
cell:nth-child(3n + 1) {
  border-left: none;
}

/* remove the right boundary */
cell:nth-child(3n + 3) {
  border-right: none;
}

/* remove the bottom boundary */
cell:last-child,
cell:nth-child(7),
cell:nth-child(8) {
  border-bottom: none;
}
